<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sunsystem.downloadfilechatapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".downloader.utils.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".downloader.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".downloader.downloadServices.StartedServiceDownload"/>
        <service android:name=".downloader.downloadServices.IntentServiceDownload"/>
        
        <provider
            android:authorities="com.sunsystem.downloadfilechatapp"
            android:name=".downloader.data.FileProvider"
            android:exported="true"/>

    </application>

</manifest>